/.metadata/
ResourceCompetition/src/CannotSolve/EvenChecker.java
ResourceCompetition/src/CannotSolve/EvenChecker.java
ResourceCompetition/src/CannotSolve/IntGenerator.java
ResourceCompetition/src/CannotSolve/IntGenerator.java
